<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>南瓜拌米饭</title>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/blog.css">


</head>
<body>

<div th:insert="navbar :: nav"></div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-6">
            <!--文章列表-->
            <div th:each="article : ${articles}">
                <div class="col-xs-12">

                    <h3>
                        <a th:text="${article.title}" th:href="@{'/article?id='+${article.id}}"></a>
                    </h3>
                    <p class="text-desc">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"
                              th:text="${#dates.format(article.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>


                        <span class="glyphicon glyphicon-user" aria-hidden="true" th:text="${article.creator}"></span>
                        作者
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"
                              th:text="${article.viewCount}"></span>
                        浏览量
                    </p>
                    <hr>


                </div>
            </div>
        </div>

        <div class="col-md-4"><h3>侧边栏</h3>

        </div>
    </div>


</body>
</html>