<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>南瓜拌米饭</title>
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/editormd.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/editormd.min.css">


</head>
<body>

<div th:insert="navbar :: nav"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            .col-md-6
        </div>
        <div class="col-md-9">
            <form action="" class="form-horizontal">
                <div class="form-group" style="width: 100%">
                    <label  class="col-sm-1 control-label left">标题</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题">
                    </div>
                </div>
                <div id="body">
                    <textarea style="display:none;" name="body"> 输入正文</textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        var editor = editormd("body", {
                            width: "100%",
                            height: "400px",
                            path: "/js/lib/",
                            watch: false,
                        });
                    });
                </script>
                <div class="form-group" style="width: 100%">
                    <label class="col-md-1 control-label left">标签</label>
                    <div class="col-md-11 ">
                        <input type="text" class="form-control" name="tag" placeholder="输入标签以 , 隔开">

                    </div>
                </div>
                <button type="submit" class="btn btn-success"
                        style="float: right;margin-bottom: 30px ;margin-right: 30px">发布
                </button>
            </form>

        </div>
    </div>
</div>

</body>
</html>